<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link th:href="@{/css/homepagestyle.css}" rel="stylesheet" type="text/css">

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button2 {background-color: #008CBA;} /* Blue */
        .button3 {background-color: #f44336;} /* Red */
        .button4 {background-color: #e7e7e7; color: black;} /* Gray */
        .button5 {background-color: #555555;} /* Black */


        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }



         .dropbtn {
             /*background-color: #04AA6D;*/
             color: white;
             padding: 16px;
             /*font-size: 16px;*/
             border: none;
         }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #212b2d;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #dd0000;}

        .dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}


    </style>

    <script>
        function getActions(selectObject) {
            var value = selectObject.value;
            if(value=='archive'){
                console.log("Inside archive")
                document.getElementById('archivalSearchFields').style.display='inline';
                document.getElementById('websiteSearchFields').style.display='none';
                document.getElementById('newsMediaSearchFields').style.display='none';
                document.getElementById('bibliographicSearchFields').style.display='none';
            }
            else if(value=='website'){
                console.log("Inside website")
                document.getElementById('websiteSearchFields').style.display='inline';
                document.getElementById('archivalSearchFields').style.display='none';
                document.getElementById('bibliographicSearchFields').style.display='none';
                document.getElementById('newsMediaSearchFields').style.display='none';
            }
            else if(value=='news'){
                console.log("Inside news")
                document.getElementById('newsMediaSearchFields').style.display='inline';
                document.getElementById('archivalSearchFields').style.display='none';
                document.getElementById('websiteSearchFields').style.display='none';
                document.getElementById('bibliographicSearchFields').style.display='none';
            }
            else if(value == 'bibliography'){
                console.log("Inside bibliography")
                document.getElementById('newsMediaSearchFields').style.display='none';
                document.getElementById('archivalSearchFields').style.display='none';
                document.getElementById('websiteSearchFields').style.display='none';
                document.getElementById('bibliographicSearchFields').style.display='inline';
            }
            //console.log(value);
        }
    </script>

</head>

<body>

<div id="wrapper">

    <div id="header">

        <div class="top_banner">
            <h1>SWD Data Repository</h1>
            <p>An Archive System for Data Storage and Preservation</p>
        </div>

        <div class="navigation">
            <ul>
                <li><a th:href="@{/homepage}">Home</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li>
                    <div class="dropdown">
                        <a class="dropbtn">
                            View Records
                        </a>

                        <div class="dropdown-content">
                            <!--                      <a th:href="@{/view/getrecords(sortField='ItemNumber', sortDirection='asc')}">Archive</a>-->
                            <a th:href="@{/view/getrecords/archive/page/1}">Archive</a>
                            <a th:href="@{/view/getrecords/website/page/1}">Website</a>
                            <a th:href="@{/view/getrecords/newsmedia/page/1}">News Media</a>
                            <a th:href="@{/view/getrecords/bibliography/page/1}">Bibliography</a>
                        </div>
                    </div>

                </li>
                <li><a th:href="@{/submitrecord/recordType}">Upload Single Record</a></li>
                <li><a th:href="@{/batch/uploadPage}">Upload Batch Record</a></li>
                <li><a th:href="@{/edit}">Edit Record</a></li>
            </ul>
        </div>

    </div>

    <div id="page_content">

        <div class="left_side_bar">


            <div class="col_1">
                <h1> <a th:href="@{/search/queryForm}"> Search Archive &#128269;</a></h1>
            </div>

            <div class="col_1">
                <h1>Recent Activities</h1>
                <div class="box">
                    <p>Recent Activities in the repository will be listed here.</p>
                    <br>
                    <ol>
                        <li>This internal website started developing on: March 6,2021</li>
                        <li>Single Record Functionality Bug is fixed</li>
                    </ol>
                </div>
            </div>

        </div>

        <div class="right_section">

            <div>
                <select id="search_db" onchange="getActions(this)">
                    <option value="">Select The Database You want to Search</option>
                    <option value="archive">Archival Records</option>
                    <option value="website">Website</option>
                    <option value="news">News Media</option>
                    <option value="bibliography">Bibliography</option>
                </select>

            </div>

            <div id="archivalSearchFields" style="display: none">
                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Item Number</h2>

                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/byItemNumber">
                            <div>
                                <input type="text" placeholder="Enter The item Number of the Item You are Looking for"
                                       id="item_number" name="item_number" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search Within Title and Tags (Keywords)</h2>

                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/byTitleKeyword">
                            <div>
                                <input type="text" placeholder="Enter The Keyword You are searching for in Titles."
                                       id="title_keyword" name="search_keyword" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword Within Summary and Notes</h2>

                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bySummaryAndNotes">
                            <div>
                                <input type="text" placeholder="Enter The Keyword You are searching for in Summary and Notes."
                                       id="summary_keyword" name="search_keyword" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword Within Type And Genre</h2>

                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/byTypeAndGenre">
                            <div>
                                <input type="text" placeholder="Enter The Keyword You are searching for in Type and Genre."
                                       id="type_keyword" name="search_keyword" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword Within Creators, Contributors and Copyright</h2>

                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/byContributorsAndCopyright">
                            <div>
                                <input type="text" placeholder="Enter The Keyword You are searching for in Type and Genre."
                                       id="contributor_keyword" name="search_keyword" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div id="websiteSearchFields" style="display: none">

                <div style="margin-bottom: 1.0cm; margin-top: 1.0cm">
                    <h2>Search With Item Number</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/website/byItemNumber">
                            <div>
                                <input type="text" placeholder="Enter The item Number of the Item You are Looking for"
                                       id="website_item_number" name="item_number" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Abstract and Title</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/website/byAbstractAndTitle">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Abstract and Title."
                                       id="website_abstract_and_title" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Creator and Collection</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/website/byCreatorAndCollection">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Creators and Collections"
                                       id="website_creator_and_collection" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Tags</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/website/byTags">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Tgas."
                                       id="website_tags" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <div id="newsMediaSearchFields" style="display: none">
                <div style="margin-bottom: 1.5cm;margin-top: 1.0cm">
                    <h2>Search With Item Number</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/newsmedia/byItemNumber">
                            <div>
                                <input type="text" placeholder="Enter The item Number of the Item You are Looking for"
                                       id="newsmedia_item_number" name="item_number" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Title and Abstract</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/newsmedia/byTitleAndAbstract">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Title and Abstract."
                                       id="newsmedia_title_and_abstracts" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>


                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Author</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/newsmedia/byAuthor">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Author."
                                       id="author" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Publication Title</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/newsmedia/byPublicationTitle">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Publication Title."
                                       id="pub_title" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Place and Section</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/newsmedia/byPlaceAndSection">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Place and Section."
                                       id="place_and_section" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

            <div id="bibliographicSearchFields" style="display: none">
                <div style="margin-bottom: 1.5cm;margin-top: 1.0cm">
                    <h2>Search With Item Number</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bibliography/byItemNumber">
                            <div>
                                <input type="text" placeholder="Enter The item Number of the Item You are Looking for"
                                       id="bibliography_item_number" name="item_number" required>
                            </div>

                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Title And Abstract</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bibliography/byTitleAndAbstract">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Title and Abstract."
                                       id="title_and_abstract" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Author</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bibliography/byAuthor">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Authors."
                                       id="author_name" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>


                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Publication Title</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bibliography/byPublicationTitle">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Publication Title."
                                       id="publication_title" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Place and Publisher</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bibliography/byPlaceAndPublication">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Place and Publisher."
                                       id="place_and_publisher" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>


                <div style="margin-bottom: 1.5cm;">
                    <h2>Search With Keyword in Additional Information</h2>
                    <div>
                        <form method="post" enctype="multipart/form-data"
                              action="/search/bibliography/byAdditionalInformation">
                            <div>
                                <input type="text" placeholder="Enter The Keyword of the Item You are Looking for. Keyword will be searched in Additional Information."
                                       id="additional_info_pub" name="search_keyword" required>
                            </div>
                            <div>
                                <button type="submit" class="button">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="clear"></div>

        <div id="footer">Copyright &copy; 2014. Design by <a href="http://www.htmltemplates.net/" target="_blank">HTML Templates</a><br>

        </div>

    </div>

</div>


</body>
</html>